@model IvanLitskevich.Models.DataModel
    <nav id="navbar" class="navbar fixed-top navbar-expand-md navbar-dark">
        <div class="navbar-left">
            <a class="navbar-brand" href="#">@Model.Info.Name</a>

            <div class="btn-group btn-group-sm navbar-btn pull-left">
                <!--style="display: inline-block; padding-right: 10px; padding-top: 4px;"-->
                <button type="button" class="btn btn-info dropdown-toggle text-uppercase" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Model.Translations.Lang <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a asp-page="./Index" asp-route-lang="ru">Русский</a></li>
                    <li><a asp-page="./Index" asp-route-lang="en">English</a></li>
                    <li><a asp-page="./Index" asp-route-lang="de">Deutsch</a></li>
                </ul>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#skills">@Model.Translations.Menu.Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">@Model.Translations.Menu.Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#certification">@Model.Translations.Menu.Certification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">@Model.Translations.Menu.EducationHigh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#courses">@Model.Translations.Menu.EducationCourses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts">@Model.Translations.Menu.Contacts</a>
                </li>
            </ul>
        </div>
    </nav>